<% include ../partials/header %>

<div class="container">
    <div class="row">
        <h1 style="text-align:center">Add a Comment to <%= movie.name %></h1>
        <div style="width:60%; margin: 25px auto;">
           <form action="/movies/<%= movie._id %>/comments" method="POST">
                <p>
                    <textarea class="form-control" name="comment[text]" placeholder="enter your comment here" rows="5" columns="20"></textarea>
                </p>
                
                
               
                <br>
                    <button class="btn btn-lg btn-primary btn-block">Submit</button>
            
            </form>  
            <br>
            <a href="/movies">Go Back</a> 
        </div>
       
        
        
    </div>
  
</div>



<% include ../partials/footer %>