<% include ./partials/header %>


<div class="login-form">    
    <form action="/register" method="post">
    	<h4 class="modal-title">Register a new Account</h4>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Username" name="username" required="required">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Password" name="password" required="required">
        </div>
      
        <input type="submit" id="register-btn" class="btn btn-warning btn-block btn-lg" value="Register">              
    </form>			
    <div class="text-center small">Already have a account? <a href="/register">Login</a></div>
</div>
</body>
</html>                                		                                                   

<% include partials/footer %>