.thumbnail img {
    width:100%;
    
}

.thumbnail{
    padding:0;
}

.thumbnail .caption-full{
    padding:9px;
}

#deleteform{
    display: inline;
}

.delete-form{
    display: inline;
}

.margin-check {
 border-bottom:1px solid #d2d7da;
 margin-bottom: 5px;
 padding-bottom: 5px;
}

/*.margin-check:after {*/
/*  position: absolute;*/
/*  content: '';*/
/*  width:100%;*/
/*  border-bottom: 1px solid #d2d7da;*/
/*  margin-bottom: 5px;*/
/*  transform: translateX(-50%);*/
/*  bottom: -15px;*/
/*  left: 50%;*/
/*}*/