<% include ../partials/header %>

<div class="container">
    <div class="row">
        <h1 style="text-align:center">Create your own Movie Review!</h1>
        <div style="width:60%; margin: 25px auto;">
           <form action="/movies" method="POST">
                <p>
                    <input class="form-control" type="text" placeholder="name" name="name">
                </p>
                
                 <p>
                    <input class="form-control" type="text" placeholder="image url" name="image">
                </p>
                
                 <p>
                    <input class="form-control" type="number" placeholder="rating" name="rating" min="0" max="10" step="1">
                </p>
                
                 <p>
                    <textarea class="form-control" type="text" rows=5 column=20 placeholder="give your review" name="description"></textarea>
                </p>
                
                <br>
                    <button class="btn btn-lg btn-primary btn-block">Submit</button>
            
            </form>  
            <br>
            <a href="/movies">Go Back</a> 
        </div>
       
        
        
    </div>
  
</div>



<% include ../partials/footer %>